<html>
  {%load static%}
   <head><title>CULTURES</title>
     <link href="{%static 'style.css'%}" rel="stylesheet" type="text/css" />
   </head>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'Homepage' %}">home</a></li>
        <li><a href="About.html"> about</a></li>
        <li><a href="Attraction.html">attraction</a></li>
        <li><a href="Culture.html">culture</a></li>
        <li><a href="Events.html">events</a></li>
        <li><a href="Cuisine.html">cuisine</a></li>
        <li><a href="Blog.html">blog</a></li>

    </ul>

    </nav>
   
  </header>
  <body>
    <img src="https://www.bbc.co.uk/staticarchive/1e727e2f1fc6e55520f63ebf8f0d972701b85acd.jpg"
    <p>LUHYA CULTURE</h2></h2>Luhya grow corn (maize), cotton, and sugarcane as cash crops; cultivate millet, sorghum, and vegetables as staple crops; and also keep some livestock. They participate in trade and other activities in areas adjacent to the great waterway of Lake Victoria. Many Luhya have migrated to urban areas seeking work.</P>

  </body>
</html>